# exercise with pandas

every "..." should be replaced with a line of code

In [22]:
import pandas as pd
import os

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [23]:
PUIdata=os.getenv('PUIDATA')
print (PUIdata)

/nfshome/ab8131/PUIdata

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [25]:
bk = pd.read_csv(open(PUIdata + '/BK_18v1.csv','r'))
mn = pd.read_csv(open(PUIdata + '/MN_18v1.csv','r'))
mn.head(10)

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [26]:
# show brooklyn 10 rows
bk.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

## display all columns in each file

In [27]:
# show bk
bk.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [28]:
# show mn
mn.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

# drop all columns but ZipCode and LandUse

In [29]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
mn.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'], axis=1, inplace=True)
mn.head()

ValueError: labels ['FIRM07_FLAG' 'PFIRM15_FLAG'] not contained in axis

In [30]:
# drop columns here...
bk.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'], axis=1, inplace=True)
bk.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [31]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
mngrouped = mn.groupby(['LandUse']).count()
mngrouped = mngrouped.reset_index()
mngrouped

,LandUse,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,1.0,4019,4019,4019,4019,4019,4019,4019,4019,4019,...,85,4016,4016,31,4019,139,4019,43,76,4019
1,2.0,16246,16246,16246,16246,16246,16246,16246,16246,16246,...,302,16213,16213,217,16246,1067,16246,402,724,16246
2,3.0,4881,4881,4881,4881,4881,4881,4881,4881,4881,...,148,4855,4855,97,4881,678,4881,171,269,4881
3,4.0,7238,7238,7238,7238,7238,7237,7238,7237,7238,...,149,7180,7180,438,7238,2019,7238,378,507,7238
4,5.0,4465,4465,4465,4465,4464,4463,4465,4465,4465,...,102,4446,4446,495,4465,603,4465,239,302,4465
5,6.0,726,726,726,726,726,726,726,726,726,...,21,720,720,131,726,34,726,58,74,726
6,7.0,418,418,418,418,385,324,401,403,386,...,41,409,409,40,418,17,418,162,177,418
7,8.0,2456,2456,2456,2456,2456,2453,2456,2456,2456,...,80,2450,2450,159,2456,281,2456,100,153,2456
8,9.0,445,445,445,445,433,403,440,442,434,...,33,441,441,9,445,35,445,106,127,445
9,10.0,682,682,682,682,678,669,679,682,679,...,25,678,678,167,682,57,682,95,114,682
10,11.0,1257,1257,1257,1257,1213,1088,1240,1241,1199,...,14,1200,1200,146,1257,240,1257,174,209,1257

In [32]:
# group BK by land use
bkgrouped = bk.groupby(['LandUse']).count()
bkgrouped = bkgrouped.reset_index()
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [33]:
# convert LandUse to int using the .astype() method of the series
bkgrouped['LandUse'] = bkgrouped['LandUse'].astype('int64')
bkgrouped.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

# merge the dataframes on land use

In [34]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
both = bkgrouped.merge(mngrouped, left_on = 'LandUse', right_on = 'LandUse')
both.columns

Index(['LandUse', 'ZipCode_x', 'Borough', 'Block', 'Lot', 'CD', 'CT2010',
       'CB2010', 'SchoolDist', 'Council', 'ZipCode_y', 'FireComp',
       'PolicePrct', 'HealthCenterDistrict', 'HealthArea', 'SanitBoro',
       'SanitDistrict', 'SanitSub', 'Address', 'ZoneDist1', 'ZoneDist2',
       'ZoneDist3', 'ZoneDist4', 'Overlay1', 'Overlay2', 'SPDist1', 'SPDist2',
       'SPDist3', 'LtdHeight', 'SplitZone', 'BldgClass', 'Easements',
       'OwnerType', 'OwnerName', 'LotArea', 'BldgArea', 'ComArea', 'ResArea',
       'OfficeArea', 'RetailArea', 'GarageArea', 'StrgeArea', 'FactryArea',
       'OtherArea', 'AreaSource', 'NumBldgs', 'NumFloors', 'UnitsRes',
       'UnitsTotal', 'LotFront', 'LotDepth', 'BldgFront', 'BldgDepth', 'Ext',
       'ProxCode', 'IrrLotCode', 'LotType', 'BsmtCode', 'AssessLand',
       'AssessTot', 'ExemptLand', 'ExemptTot', 'YearBuilt', 'YearAlter1',
       'YearAlter2', 'HistDist', 'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR',
       'FacilFAR', 'BoroCode', 'BBL', 'CondoNo', 'Tract2010', 'XCoord',
       'YCoord', 'ZoneMap', 'ZMCode', 'Sanborn', 'TaxMap', 'EDesigNum',
       'APPBBL', 'APPDate', 'PLUTOMapID', 'FIRM07_Flag', 'PFIRM15_Flag',
       'Version'],
      dtype='object')

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [35]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both = both.rename(columns = {"ZipCode_x": 'bk', "ZipCode_y":'mn'})
both

,LandUse,bk,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,1,156271,4019,4019,4019,4019,4019,4019,4019,4019,...,85,4016,4016,31,4019,139,4019,43,76,4019
1,2,66358,16246,16246,16246,16246,16246,16246,16246,16246,...,302,16213,16213,217,16246,1067,16246,402,724,16246
2,3,3437,4881,4881,4881,4881,4881,4881,4881,4881,...,148,4855,4855,97,4881,678,4881,171,269,4881
3,4,22515,7238,7238,7238,7238,7238,7237,7238,7237,...,149,7180,7180,438,7238,2019,7238,378,507,7238
4,5,5743,4465,4465,4465,4465,4464,4463,4465,4465,...,102,4446,4446,495,4465,603,4465,239,302,4465
5,6,4434,726,726,726,726,726,726,726,726,...,21,720,720,131,726,34,726,58,74,726
6,7,1040,418,418,418,418,385,324,401,403,...,41,409,409,40,418,17,418,162,177,418
7,8,4330,2456,2456,2456,2456,2456,2453,2456,2456,...,80,2450,2450,159,2456,281,2456,100,153,2456
8,9,872,445,445,445,445,433,403,440,442,...,33,441,441,9,445,35,445,106,127,445
9,10,4229,682,682,682,682,678,669,679,682,...,25,678,678,167,682,57,682,95,114,682
10,11,6298,1257,1257,1257,1257,1213,1088,1240,1241,...,14,1200,1200,146,1257,240,1257,174,209,1257

## find online the LandUse data dictionary and replace code w the verbose description of it

In [36]:
# set up Land Use values to descriptive tag
LandDict = ['One &Two Family Buildings', 'Multi-Family Walk-Up Buildings','Multi-Family Elevator Buildings',
            'Mixed Residential & Commercial Buildings','Commercial & Office Buildings',
            'Industrial & Manufacturing','Transportation & Utility','Public Facilities & Institutions',
            'Open Space & Outdoor Recreation','Parking Facilities','Vacant Land']
both['LandUse'] = LandDict
both

,LandUse,bk,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,One &Two Family Buildings,156271,4019,4019,4019,4019,4019,4019,4019,4019,...,85,4016,4016,31,4019,139,4019,43,76,4019
1,Multi-Family Walk-Up Buildings,66358,16246,16246,16246,16246,16246,16246,16246,16246,...,302,16213,16213,217,16246,1067,16246,402,724,16246
2,Multi-Family Elevator Buildings,3437,4881,4881,4881,4881,4881,4881,4881,4881,...,148,4855,4855,97,4881,678,4881,171,269,4881
3,Mixed Residential & Commercial Buildings,22515,7238,7238,7238,7238,7238,7237,7238,7237,...,149,7180,7180,438,7238,2019,7238,378,507,7238
4,Commercial & Office Buildings,5743,4465,4465,4465,4465,4464,4463,4465,4465,...,102,4446,4446,495,4465,603,4465,239,302,4465
5,Industrial & Manufacturing,4434,726,726,726,726,726,726,726,726,...,21,720,720,131,726,34,726,58,74,726
6,Transportation & Utility,1040,418,418,418,418,385,324,401,403,...,41,409,409,40,418,17,418,162,177,418
7,Public Facilities & Institutions,4330,2456,2456,2456,2456,2456,2453,2456,2456,...,80,2450,2450,159,2456,281,2456,100,153,2456
8,Open Space & Outdoor Recreation,872,445,445,445,445,433,403,440,442,...,33,441,441,9,445,35,445,106,127,445
9,Parking Facilities,4229,682,682,682,682,678,669,679,682,...,25,678,678,167,682,57,682,95,114,682
10,Vacant Land,6298,1257,1257,1257,1257,1213,1088,1240,1241,...,14,1200,1200,146,1257,240,1257,174,209,1257

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [37]:
# calculate the ratio of BK to Man buildings per LandUse category
both.luration = both.mn / both.bk
both['luratio'] = both.luration
both

,LandUse,bk,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,...,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version,luratio
0,One &Two Family Buildings,156271,4019,4019,4019,4019,4019,4019,4019,4019,...,4016,4016,31,4019,139,4019,43,76,4019,0.025718
1,Multi-Family Walk-Up Buildings,66358,16246,16246,16246,16246,16246,16246,16246,16246,...,16213,16213,217,16246,1067,16246,402,724,16246,0.244824
2,Multi-Family Elevator Buildings,3437,4881,4881,4881,4881,4881,4881,4881,4881,...,4855,4855,97,4881,678,4881,171,269,4881,1.420134
3,Mixed Residential & Commercial Buildings,22515,7238,7238,7238,7238,7238,7237,7238,7237,...,7180,7180,438,7238,2019,7238,378,507,7238,0.321475
4,Commercial & Office Buildings,5743,4465,4465,4465,4465,4464,4463,4465,4465,...,4446,4446,495,4465,603,4465,239,302,4465,0.777468
5,Industrial & Manufacturing,4434,726,726,726,726,726,726,726,726,...,720,720,131,726,34,726,58,74,726,0.163735
6,Transportation & Utility,1040,418,418,418,418,385,324,401,403,...,409,409,40,418,17,418,162,177,418,0.371154
7,Public Facilities & Institutions,4330,2456,2456,2456,2456,2456,2453,2456,2456,...,2450,2450,159,2456,281,2456,100,153,2456,0.567206
8,Open Space & Outdoor Recreation,872,445,445,445,445,433,403,440,442,...,441,441,9,445,35,445,106,127,445,0.497706
9,Parking Facilities,4229,682,682,682,682,678,669,679,682,...,678,678,167,682,57,682,95,114,682,0.160558
10,Vacant Land,6298,1257,1257,1257,1257,1213,1088,1240,1241,...,1200,1200,146,1257,240,1257,174,209,1257,0.190378

In [38]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
def ratiotest(ratio):
    if ratio > 1:
        return True
    else:
        return False
both['Manhattan wins'] = both['luratio'].apply(ratiotest)
both

,LandUse,bk,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,...,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version,luratio,Manhattan wins
0,One &Two Family Buildings,156271,4019,4019,4019,4019,4019,4019,4019,4019,...,4016,31,4019,139,4019,43,76,4019,0.025718,False
1,Multi-Family Walk-Up Buildings,66358,16246,16246,16246,16246,16246,16246,16246,16246,...,16213,217,16246,1067,16246,402,724,16246,0.244824,False
2,Multi-Family Elevator Buildings,3437,4881,4881,4881,4881,4881,4881,4881,4881,...,4855,97,4881,678,4881,171,269,4881,1.420134,True
3,Mixed Residential & Commercial Buildings,22515,7238,7238,7238,7238,7238,7237,7238,7237,...,7180,438,7238,2019,7238,378,507,7238,0.321475,False
4,Commercial & Office Buildings,5743,4465,4465,4465,4465,4464,4463,4465,4465,...,4446,495,4465,603,4465,239,302,4465,0.777468,False
5,Industrial & Manufacturing,4434,726,726,726,726,726,726,726,726,...,720,131,726,34,726,58,74,726,0.163735,False
6,Transportation & Utility,1040,418,418,418,418,385,324,401,403,...,409,40,418,17,418,162,177,418,0.371154,False
7,Public Facilities & Institutions,4330,2456,2456,2456,2456,2456,2453,2456,2456,...,2450,159,2456,281,2456,100,153,2456,0.567206,False
8,Open Space & Outdoor Recreation,872,445,445,445,445,433,403,440,442,...,441,9,445,35,445,106,127,445,0.497706,False
9,Parking Facilities,4229,682,682,682,682,678,669,679,682,...,678,167,682,57,682,95,114,682,0.160558,False
10,Vacant Land,6298,1257,1257,1257,1257,1213,1088,1240,1241,...,1200,146,1257,240,1257,174,209,1257,0.190378,False

# comment on what you found out. Does it make sense?

### Yes, it makes sense. Brooklyn has 3 times of land area than Manhattan, so it has more buildings in Brooklyn.