# exercise with pandas

every "..." should be replaced with a line of code

In [ ]:
import pandas as pd
import os

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [2]:
PUIdata = os.getenv('PUIDATA')
print (PUIdata)

/nfshome/ab8131/PUIdata

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [5]:
bk = pd.read_csv(open(PUIdata + '/BK_18V1.csv','r'))
mn = pd.read_csv(open(PUIdata + '/MN_18v1.csv','r'))
mn.head(10)

FileNotFoundError: [Errno 2] No such file or directory: '/nfshome/ab8131/PUIdata/BK_18V1.csv'

In [6]:
# show brooklyn 10 rows
bk.head(10)

NameError: name 'bk' is not defined

## display all columns in each file

In [109]:
# show bk
bk.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [110]:
# show mn
mn.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

# drop all columns but ZipCode and LandUse

In [4]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
mn.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'], axis=1, inplace=True)
mn.head()

NameError: name 'mn' is not defined

In [112]:
# drop columns here...
bk.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'], axis=1, inplace=True)
bk.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [116]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes 
# (hint: use also reset_index) for each df
mngrouped = mn.groupby(['LandUse']).count()
mngrouped = mngrouped.reset_index()
mngrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [115]:
# group BK by land use
bkgrouped = bk.groupby(['LandUse']).count()
bkgrouped = bkgrouped.reset_index()
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [118]:
# convert LandUse to int using the .astype() method of the series
bkgrouped['LandUse'] = bkgrouped['LandUse'].astype('int64')
bkgrouped.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

# merge the dataframes on land use

In [3]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
both = bkgrouped.merge(mngrouped, left_on = 'LandUse', right_on = 'LandUse')
both.columns

Index(['LandUse', 'ZipCode_x', 'ZipCode_y'], dtype='object')

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [122]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both = both.rename(columns = {"ZipCode_x": 'bk', "ZipCode_y":'mn'})
both

    LandUse      bk     mn
0         1  156271   4019
1         2   66358  16246
2         3    3437   4881
3         4   22515   7238
4         5    5743   4465
5         6    4434    726
6         7    1040    386
7         8    4330   2456
8         9     872    434
9        10    4229    679
10       11    6298   1199

## find online the LandUse data dictionary and replace code w the verbose description of it

In [125]:
# set up Land Use values to descriptive tag
LandDict = ['One &Two Family Buildings', 'Multi-Family Walk-Up Buildings','Multi-Family Elevator Buildings',
            'Mixed Residential & Commercial Buildings','Commercial & Office Buildings',
            'Industrial & Manufacturing','Transportation & Utility','Public Facilities & Institutions',
            'Open Space & Outdoor Recreation','Parking Facilities','Vacant Land']
both['LandUse'] = LandDict
both

                                     LandUse      bk     mn
0                  One &Two Family Buildings  156271   4019
1             Multi-Family Walk-Up Buildings   66358  16246
2            Multi-Family Elevator Buildings    3437   4881
3   Mixed Residential & Commercial Buildings   22515   7238
4              Commercial & Office Buildings    5743   4465
5                 Industrial & Manufacturing    4434    726
6                   Transportation & Utility    1040    386
7           Public Facilities & Institutions    4330   2456
8            Open Space & Outdoor Recreation     872    434
9                         Parking Facilities    4229    679
10                               Vacant Land    6298   1199

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [127]:
# calculate the ratio of BK to Man buildings per LandUse category
both.luration = both.mn / both.bk
both['luratio'] = both.luration
both

                                     LandUse      bk     mn   luratio
0                  One &Two Family Buildings  156271   4019  0.025718
1             Multi-Family Walk-Up Buildings   66358  16246  0.244824
2            Multi-Family Elevator Buildings    3437   4881  1.420134
3   Mixed Residential & Commercial Buildings   22515   7238  0.321475
4              Commercial & Office Buildings    5743   4465  0.777468
5                 Industrial & Manufacturing    4434    726  0.163735
6                   Transportation & Utility    1040    386  0.371154
7           Public Facilities & Institutions    4330   2456  0.567206
8            Open Space & Outdoor Recreation     872    434  0.497706
9                         Parking Facilities    4229    679  0.160558
10                               Vacant Land    6298   1199  0.190378

In [130]:
# defined function that returns True if the ratio is larger than 0, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
def ratiotest(ratio):
    if ratio > 1:
        return True
    else:
        return False
both['Manhattan wins'] = both['luratio'].apply(ratiotest)
both

,LandUse,bk,mn,luratio,Manhattan wins
0,One &Two Family Buildings,156271,4019,0.025718,False
1,Multi-Family Walk-Up Buildings,66358,16246,0.244824,False
2,Multi-Family Elevator Buildings,3437,4881,1.420134,True
3,Mixed Residential & Commercial Buildings,22515,7238,0.321475,False
4,Commercial & Office Buildings,5743,4465,0.777468,False
5,Industrial & Manufacturing,4434,726,0.163735,False
6,Transportation & Utility,1040,386,0.371154,False
7,Public Facilities & Institutions,4330,2456,0.567206,False
8,Open Space & Outdoor Recreation,872,434,0.497706,False
9,Parking Facilities,4229,679,0.160558,False
10,Vacant Land,6298,1199,0.190378,False

# comment on what you found out. Does it make sense?

In [ ]:
Yes, it makes sense. Brooklyn has 3 times of land area than Manhattan, 
so it has more buildings in Brooklyn.